@use '../foundation/colors' as *;
@use '../util' as *;

.container {
  background: top / contain no-repeat url(/images/bg-pattern.svg), $main-background;

  @include breakpoint(medium) {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
