@use '../util' as *;

header {
  text-align: center;
  padding-top: rem(104);
  padding-bottom: rem(92);

  @include breakpoint-down(medium) {
    padding-top: rem(89);
    padding-bottom: rem(64);

    span {
      display: block;
    }
  }

  h1 {
    margin-bottom: rem(12);

    @include breakpoint-down(medium) {
      margin-bottom: rem(8);
    }
  }
}
